*/database-data/*
*/rabbitmq-data/*
*/rabbitmq-log/*
*/pgadmin-data/*
*/redis/data/*
*/jenkins-data/*
*/mysql-data/*
*/beaver-data/*
*/*.env
*/elastic_data/*
*/minio_data/*
*/influx-grafana/influxdb/data/*
*/influx-grafana/influxdb/types.db/*
