services:
    pgadmin:
      container_name: pgadmin4_container
      image: dpage/pgadmin4:latest
      restart: always
      user: root
      ports:
        - "5050:80"
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: root
        #PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
        #PGADMIN_CONFIG_SERVER_MODE: 'False'
      volumes:
        - ./pgadmin-data:/var/lib/pgadmin
