services:
  youtrack:
    image: jetbrains/youtrack:2025.3.110568
    container_name: youtrack
    ports:
      - "8989:8080"
    environment:
      - YOUTRACK_JAVA_OPTS=-Xms2g -Xmx4g
    volumes:
      - youtrack-data:/opt/youtrack/data
      - youtrack-conf:/opt/youtrack/conf
      - youtrack-logs:/opt/youtrack/logs
      - youtrack-backups:/opt/youtrack/backups
    restart: unless-stopped

volumes:
  youtrack-data:
  youtrack-conf:
  youtrack-logs:
  youtrack-backups:
